.title {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;

  .orangeText {
    color: orange;
  }
}

.slideshow {
  position: relative;
  margin-top: 50px;

  .mySlides {
    display: none;

    &.active {
      display: grid;
      grid-template-rows: auto 1fr;
    }

    @-webkit-keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }

    &.fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    .desc {
      background-color: #e040fb;
      width: 100%;
      color: white;
      padding: 50px;

      .small {
        font-size: 12px;
      }

      .big {
        font-size: 24px;
      }
    }

    .imageContainer {
      display: none;
    }
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: black;
    padding: 10px;
    background-color: #f5f5f5;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
  }

  .prev {
    left: 5px;
  }

  /* Position the "next button" to the right */
  .next {
    right: 5px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 768px) {
  .slideshow {
    .mySlides {
      &.active {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0;
      }

      .desc {
        background-color: #e040fb;
        width: 100%;
        color: white;
        padding: 40px;

        .small {
          font-size: 12px;
        }

        .big {
          font-size: 24px;
        }
      }

      .imageContainer {
        display: block;

        .image {
          width: 100%;
        }
      }
    }
  }
}
