.gridContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  text-align: center;
  justify-items: center;

  .gridItem {
    padding: 20px;

    h1 {
      color: orange;
    }

    p {
      color: white;
    }

    .picContainer {
      overflow: hidden;
      max-width: 450px; /*height: 783px / 2*/
      height: 320px;

      @keyframes example {
        0% {
          transform: translateY(0);
        }
        14% {
          transform: translateY(-14%);
        }
        29% {
          transform: translateY(-29%);
        }
        43% {
          transform: translateY(-43%);
        }
        57% {
          transform: translateY(-57%);
        }
        71% {
          transform: translateY(-71%);
        }
        86% {
          transform: translateY(-86%);
        }
        100% {
          transform: translateY(-100%);
        }
      }

      .pic {
        width: 100%;
        // animation-name: example;
        // animation-duration: 7s;
        // animation-iteration-count: infinite;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    text-align: left;
    align-items: center;

    .gridItem {
      .picContainer {
        height: 391px;
      }
    }
  }
}
